* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  :root {
    --color-primary: #5ec576;
    --color-primary-darker: #4bbb7d;
    --color-brand--1: #ffb545;
    --color-brand--1-darker: #8f5f18;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  }

  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui;
    color: #555;
    background-color: var(--color-dark--2);
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .adsPremium {
    /* margin-bottom: 8rem; */
    display: flex;
  
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
  }

  .btn {
    display: inline-block;
    background-color: var(--color-brand--1);
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn:hover {
    background-color: var(--color-brand--1-darker);
  }

  .btn-add-new {
    border: none;
    font-size: 2rem;
    padding: 0.8rem 0.8rem;
    border-radius: 0.7rem;
    color: white;
    background-color: orangered;
    cursor: pointer;
  }

  .adPremium {
    border-left: 5px solid var(--color-brand--1);
    background-color: var(--color-light--1);
    border-radius: 5px;
    color:rgb(255, 255, 255);
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
  }
  
  .adPremium__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / -1;
  }
  
  .adPremium__details {
    display: contents;
    align-items: baseline;
  }

  .adPremium__location {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .adPremium__subcategory {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .adPremium__subcategory {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .adPremium__start {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .adPremium__end {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
  
  .modal__header {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
  }
  
  .modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
  }
  
  .modal__form label {
    font-size: 1.7rem;
    font-weight: 500;
  }
  
  .modal__form input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }
  
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }
  
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
  }